
# Loads default set of integrations. Do not remove.
default_config:

# This integration handles redirects from the My Home Assistant service.
my:

# Konfiguration von Mitteilungen
notify:
  - name: !secret notify_name
    platform: smtp
    server: !secret notify_server
    port: 587
    timeout: 15
    sender: !secret notify_mailaddress
    encryption: starttls
    username: !secret notify_mailaddress
    password: !secret notify_password
    recipient:
      - !secret notify_mailaddress
    sender_name: !secret notify_name
  - name: !secret notify_ha_name
    platform: smtp
    server: !secret notify_ha_server
    port: 587
    timeout: 15
    sender: !secret notify_ha_sender
    encryption: starttls
    username: !secret notify_ha_sender
    password: !secret notify_ha_password
    recipient:
      - !secret notify_ha_recipient
    sender_name: !secret notify_ha_name

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

shell_command:
  generic: !secret shell_generic
  setup_apk: !secret shell_setup_apk
  luxtronik19_to_ha: !secret shell_luxtronik19_to_ha
  luxtronik21_to_ha: !secret shell_luxtronik21_to_ha
  luxtronik23_to_ha: !secret shell_luxtronik23_to_ha
  luxtronik25_to_ha: !secret shell_luxtronik25_to_ha
  ha_to_rotseepark: !secret shell_ha_to_rotseepark
  write_line_to_file: "/config/scripts/write_to_file.sh '{{ mode }}' '{{ file }}' '{{ value }}'"
  file_action: "/config/scripts/file_action.sh '{{ mode }}' '{{ file1 }}' '{{ file2 }}'"

recorder:
  purge_keep_days: 17                    # Ich behalte 2 Wochen und 3 Tage
  exclude:
    entity_globs:
      - sensor.*_tx                      # Ubiquity tx Sensoren 
      - sensor.*_rx                      # Ubiquity rx Sensoren
      - sensor.*_state                   # Rest Ergebnis von UMG, Luxtronik, GWF und Vento
      - sensor.*_report                  # Rest Ergebnis von MyStrom
      - sensor.mystrom_*_power           # Einzelne MyStrom Adapter
      - sensor.mystrom_power             # MyStrom History (Energy Statistik genügt)
      - sensor.janitza_umg604_power      # UMG604 History (Energy Statistik genügt)
      - sensor.hauser_power              # Häuser History (Energy Statistik genügt)
      - sensor.solar_power               # Solar History (Energy Statistik genügt)
      - sensor.solar_power_19            # Solar 19 History (Energy Statistik genügt)
      - sensor.solar_power_21            # Solar 21 History (Energy Statistik genügt)
      - sensor.solar_power_23            # Solar 23 History (Energy Statistik genügt)
      - sensor.solar_power_25            # Solar 25 History (Energy Statistik genügt)
      - sensor.sql_heatpump              # SQL Sensoren (Statistik genügt)
      - sensor.sql_solarlog              # SQL Sensoren (Statistik genügt)
      - sensor.heatpump_power            # Heatpump History (Energy Statistik genügt)
      - sensor.heatpump_power_ww	       # Heatpump WW History (Energy Statistik genügt)
      - sensor.heatpump_power_hz	       # Heatpump HZ History (Energy Statistik genügt)
      - sensor.zaptec_power              # Zaptec History (Energy Statistik genügt)
      - sensor.zaptec_charger            # Zaptec Charger Daten
      - sensor.zaptec_circute            # Zaptec Stromkreis Daten
      - sensor.zaptec_installation       # Zaptec Installation Daten
      - sensor.shelly_emobility_power    # Shelly History (Energy Statistik genügt)
      - sensor.shelly_secomat_power      # Shelly History (Energy Statistik genügt)
      - sensor.forecast*_1               # Forecast Sensoren "Unavailable" Schutz
      - sensor.forecast*_2               # Forecast Sensoren "Unavailable" Schutz
      - sensor.forecast*_3               # Forecast Sensoren "Unavailable" Schutz
      - sensor.forecast*_4               # Forecast Sensoren "Unavailable" Schutz
      - sensor.forecast*_5               # Forecast Sensoren "Unavailable" Schutz
      - sensor.forecast*_6               # Forecast Sensoren "Unavailable" Schutz
      - sensor.forecast*_7               # Forecast Sensoren "Unavailable" Schutz
      - sensor.forecast*_8               # Forecast Sensoren "Unavailable" Schutz
      - sensor.gplugde                   # gplugde (nur abgeleitete Sensoren)
 
#homeassistant:
#  auth_providers:
#    - type: homeassistant 
#    - type: trusted_networks
#      trusted_networks:
#        - 192.168.5.4
#      trusted_users:
#        192.168.5.4: Viewer
#      allow_bypass_login: true

########### INCLUDES #####
group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
sql: !include_dir_merge_list sql/
#command_line: !include command_line.yaml

########### INCLUDES ##### Additional Dir List
sensor: !include_dir_list sensors/
#binary_sensor: !include_dir_list binary_sensors/
rest_command: !include_dir_merge_named rest_commands/
template: !include_dir_merge_list template/

########### INCLUDES ##### Helpers
counter: !include helpers/counter.yaml
input_boolean: !include helpers/input_boolean.yaml
input_number: !include helpers/input_number.yaml
input_select: !include helpers/input_select.yaml
input_text: !include helpers/input_text.yaml

# Influx DB mit Daten füllen
# influxdb:
#   host: !secret influx_db_host
#   port: !secret influx_db_port
#   database: !secret influx_db_database
#   username: !secret influx_db_username
#   password: !secret influx_db_password
#   max_retries: 3
#   default_measurement: state
#   include:
#     entity_globs:
#       - sensor.gwf_*_*_*_diff
#       - sensor.gwf_*_*_*_helper
#       - input_boolean.luxtronik_*_haus_*
#       - sensor.heatpump*power_consumption
#       - sensor.solar_power_production*
#       - sensor.shelly_emobility_power_consumption
#       - sensor.janitza_umg604_power_consumption
#       - sensor.luxtronik*_bz
#       - sensor.luxtronik*_hs3
#       - sensor.luxtronik*_vd*
#       - sensor.luxtronik*_tbw
#       - sensor.sql_*
#   exclude:
#     entity_globs:
#       - sensor.heatpump*power_consumption_*
#       - sensor.shelly_emobility_power_consumption_*
