{{ state_attr('sensor.gwf_21_state','gwf')['HZ21UG'] }}

HZUG:{{ 
(state_attr('sensor.gwf_21_state','gwf')['HZ21UG']['volume_3']['wert']|float 
)|round(2)}}
HZUG:{{ 
(state_attr('sensor.gwf_21_state','gwf')['HZ21UG']['energy_2']['wert']|float 
)|round(2)}}

HZ:{{ 
(state_attr('sensor.gwf_21_state','gwf')['WG2101']['volume_3']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2102']['volume_3']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2111']['volume_3']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2112']['volume_3']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2121']['volume_3']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2122']['volume_3']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2131']['volume_3']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2132']['volume_3']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2141']['volume_3']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2142']['volume_3']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2151']['volume_3']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2152']['volume_3']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2161']['volume_3']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2162']['volume_3']['wert']|float 
)|round(2)}}

WW:{{ 
(state_attr('sensor.gwf_21_state','gwf')['WG2101']['volume_14']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2102']['volume_15']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2111']['volume_14']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2112']['volume_14']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2121']['volume_14']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2122']['volume_14']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2131']['volume_14']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2132']['volume_14']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2141']['volume_14']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2142']['volume_14']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2151']['volume_14']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2152']['volume_14']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2161']['volume_14']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2162']['volume_14']['wert']|float 
)|round(2)}}

KW:{{ 
(state_attr('sensor.gwf_21_state','gwf')['WG2101']['volume_13']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2102']['volume_13']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2102']['volume_14']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2111']['volume_13']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2112']['volume_13']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2121']['volume_13']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2122']['volume_13']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2131']['volume_13']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2132']['volume_13']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2141']['volume_13']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2142']['volume_13']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2151']['volume_13']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2152']['volume_13']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2161']['volume_13']['wert']|float 
+state_attr('sensor.gwf_21_state','gwf')['WG2162']['volume_13']['wert']|float 
)|round(2)}}
